{% extends "base.html"%}
{% block content %}
<!-- Header-->

<div class = "container">
    <div class = "row">
        <center>
            <div class = "col-8">
                <table class="table table-striped table-hover table-bordered ">
                    <thead class="table-dark">
                      <tr>
                       
                        <th scope="col">order</th>
                        <th scope="col">price</th>
                        <th scope="col">customer email</th>
                        <th scope="col">date ordered</th>
                        <th scope="col">date Shipped</th>
                        <th scope="col">un-ship</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for item in orders%}
                      <tr>
                    
                        <td><a href="{% url 'orders' item.id%} "class="text-black text-decoration-none">{{item.id}}</a></td>
                        <td><a href="{% url 'orders' item.id%}" class="text-black text-decoration-none">{{item.amount_paid}}</a></td>
                        <td><a href="{% url 'orders' item.id%}" class="text-black text-decoration-none">{{item.email}}</a></td>
                        <td><a href="{% url 'orders' item.id%}"class="text-black text-decoration-none">{{item.date_ordered}}</a></td>
                        <td><a href="{% url 'orders' item.id%}"class="text-black text-decoration-none">{{item.date_shipped}}</a></td>
                        <td>
                          <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="shipping_status" value="false">
                            <input type="hidden" name="num" value={{item.id}}>
                            <button type="Submit" class="btn btn-danger btn-sm">Mark UnShipped</button>
                          </form>
                        </td>
                      </tr>
                      {% endfor%}
                    </tbody>
                  </table>
            </div>
        </center>
        <br></br>
        <br></br>
        <br></br>

    </div>
    <br></br>
        <br></br>
        <br></br><br></br>
        
        
</div>
{%endblock%}