{% extends "base.html"%}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Welcome To Codemy Ecommerce...
            </p>
        </div>
    </div>
</header>
<div class = "container">
    <div class = "row">
        <center>
            <div class = "col-8">
                <p align = "justify">
                    <br></br>
                    lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id tincidunt mi. Donec gravida nulla a maximus mattis. Integer eu lectus feugiat, sollicitudin erat sit amet, iaculis urna. Donec non ornare massa. Curabitur nunc ligula, luctus sed congue nec, tempus eu augue. Curabitur enim est, imperdiet et diam a, congue vestibulum metus. In a tincidunt velit. In hac habitasse platea dictumst. Ut a pellentesque elit. Nam convallis nunc in commodo porta. Cras quis elit quis nunc imperdiet molestie.
                    <br></br>
                    In lobortis ultrices augue nec aliquet. Quisque tempor enim orci, sed facilisis sapien ultrices eget. Fusce cursus nisi ipsum, ornare facilisis nulla pulvinar non. Curabitur egestas, purus at pellentesque ultrices, augue arcu lobortis justo, at fermentum orci nibh eget ligula. Vestibulum eu enim urna. In dictum lorem et laoreet posuere. Phasellus dictum vel arcu eget vehicula. Nulla facilisi.
                    <br></br>
                    In hac habitasse platea dictumst. Mauris ut dapibus arcu. Vestibulum scelerisque, dui et auctor pharetra, turpis felis faucibus neque, sit amet ullamcorper tellus augue a massa. Nullam porttitor a diam ut hendrerit. In non lacus massa. Aliquam sagittis leo sed euismod auctor. Duis tincidunt consequat efficitur. Aenean porttitor erat in volutpat tempor. Maecenas in venenatis felis. Nulla consequat lorem vitae diam consectetur blandit. In interdum sapien vel cursus condimentum. Ut nec tortor feugiat, fringilla sapien non, cursus diam. Ut posuere id lacus non suscipit. Morbi cursus ut turpis id egestas. Duis ac ornare nunc, at hendrerit sem.
                    <br></br>
                </p>
            </div>
        </center>
    </div>
</div>
{%endblock%}